
.bannerWrapper{
  width: 100vw;
  height: 100vh ;
  padding: 0;
  background-color: #fff;
}
.bannerWrapper .bg{
  background: rgba(0, 0, 0, 0.786);
}

.logoWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.786);
}
.bgImage{
  background-image: url(/static/bg.jpg) ;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  background-size: cover;
  background-position: '50% 50%';
}